@import url('https://fonts.googleapis.com/css?family=Charmonman');

.menu-item {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;


}
.menu{
	display: flex;
	list-style: none;
	width: 500px;
	justify-content: space-between;
}
.header{
	display: flex;
    justify-content: space-between;
    padding: 30px 20px;

}
.background-image{
	background-image: url(img/hero.jpg);
	background-position: center;
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	color: #ffffff;
	font-size: 40px;
	text-transform: uppercase;
	margin: 500px 0 0 30px;
	font-family: 'Charmonman', cursive;
}
.subtitle {
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	margin: 5px 0 0 30px;
}
.mainpage{
	background: #a2ca28;

}
.menu-link{
	color: #ffffff;
	text-decoration: none;
}
.main-ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	color: #ffffff;
	margin: 0 30px 0 0;

}
.main-link{
	color: #ffffff;
	text-decoration: none;

}
.main-h3	{
	color: #fd634e;
	font-size: 14px;
}
.main-h2	{
	color: #a2ca28;
	font-size: 35px;
}

   

.white-background{
	background: #ffffff;
	width: 500px;
}

.block1{
	display: flex;
	justify-content: center;
	list-style: none;
	text-align: center;
	margin: 20px 0 0 0;  
	}
.block2{
	display: flex;
	justify-content: center;
	list-style: none;
	text-align: center;
	margin: 0 0 0 0; 
}

.main-link2{
	color: #a2ca28;
	text-decoration: none;
}

.futer-menu{
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 30px 20px;
	background-color: black;
}


